body {
  display: grid;
  height: 100vh;
  grid-template: 100px calc(100vh - 200px) 100px/ 300px 1fr auto;
}

header {
  background-color: lightpink;
  grid-column: 1/ 4;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 50px;
  line-height: 70px;
}
.left-sidebar {
  background-color: rgb(213, 189, 189);
  grid-column: 1/2;
}
main {
  background-color: coral;
  grid-column: 2/3;
}
.right-sidebar {
  background-color: yellow;
  grid-column: 3/4;
}
footer {
  background-color: rgb(109, 67, 12);
  grid-column: 1/ 4;
  color: white;
  text-align: center;
  line-height: 50px;
  padding: 25px;
  font-size: 50px;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
