@import url("https://fonts.googleapis.com/css2?family=Kavivanar&family=Playwrite+IS:wght@100..400&family=Sofia&family=Vast+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

header {
  height: 200px;
  display: grid;
  grid-template-rows: 140px 60px;
  /* background-color: rgb(113, 111, 111); */
  /* background-color: rgb(41, 52, 174); */
}

header h1 {
  background-color: rgb(41, 52, 174);
  margin: 0;
  color: white;
  text-align: center;
  line-height: 50px;
  padding-top: 5px;
  font-family: "Sofia", cursive;
  height: 200px;
}
.clock {
  margin-left: 300px;
}

@media (max-width: 964px) {
  header h1 {
    font-size: 3.8vw;
  }
}
header nav {
  width: 100vw;
  margin: 0 auto;
  background-color: rgba(6, 223, 234, 0.788);
  background-color: rgba(6, 101, 234, 0.788);
  /* background-color: black; */
  /* height: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid; */
}

header nav a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* width: 100%; */
  text-align: center;
  height: 30px;
  line-height: 20px;
  font-size: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  font-weight: bolder;
}
header nav a:hover {
  border-top: 1px solid yellow;
}

main {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  height: calc(100vh - 310px);
  gap: 10px;
  width: 96vw;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card.about {
  border: 1px solid;
  display: grid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* margin-right: 10px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card h2 {
  /* background-color: rgb(113, 111, 111); */
  background-color: rgb(41, 52, 174);

  margin-bottom: 10px;
  text-align: center;
  color: white;
  height: 50px;
  line-height: 40px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Sofia", cursive;
}
p {
  font-family: "Kavivanar", cursive;
}
.me {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  padding: 10px;
}

.me img {
  padding-left: 20px;
  width: 150px;
}
.me p {
  margin-right: 20px;
  overflow-y: scroll;
  height: 200px;
}
.city {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(127, 125, 125, 0.822);
  /* margin-bottom: 10px; */
  /* border: 1px solid; */
  height: 35px;
  font-weight: 600;
}
.country {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.flag {
  margin-right: 10px;
}
.flag img {
  width: 150px;
}
.country-details {
  overflow-y: scroll;
  height: 150px;
}

.card.resource {
  border: 1px solid;
  /* display: grid; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* margin-right: 10px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card.resource div {
  margin-left: 30px;
  margin-top: 48px;
}
.card.resource div ul li  {
  margin-bottom: 10px;
}
.card.resource div ul li a{
  font-size: 18px;
}

footer {
  /* background-color: black; */
  background-color: rgb(0, 21, 247);
  background-color: rgb(41, 52, 174);

  margin: 0;
  height: 80px;
  padding-top: 10px;
}

footer p:first-child {
  color: white;
  text-align: center;
  font-size: 20px;
  /* word-spacing: 10px; */
  background-color: rgb(41, 52, 174);
}
footer p {
  background-color: rgb(41, 52, 174);
}
.space {
  word-spacing: 10px;
}
#lastModified {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
}
.margin {
  margin-bottom: 15px;
}
/* .margin a {
  text-decoration: none;
} */
